.container {
  border: 3px solid #000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1200px;
  margin: auto;
}

.container>* {
  padding: 10px;
  color: #fff
}

footer {
  background-color: rgb(30, 58, 142);
}

nav {
  background-color: sienna;
}

header {
  background-color: gold;
}

.content {
  flex: 1;
  background-color: #eee;
  display: flex;
  gap: 10px;
}

.inner {
  border: 3px solid skyblue;
  padding: 10px;
  display: flex;
}

aside {
  width: 100px;
  background-color: rgb(169, 64, 147);
}

.inner * {
  padding: 10px;
}

.card {
  background-color: hotpink;
  color: #fff;
  flex: 1;
}